/* primery text-color - #757575
secondary text-color - #212121
primery background-color - #F5F5F5
footer-hero color - #2F303A
button active color - #2196F3
web color - #2196F3
studio color - #000000
button color - #F5F4FA
color adress - #FFFFFF
color footer contact - rgba(255, 255, 255, 0.6) */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --active-color: #2196f3;
  --button-color: #f5f4fa;
  --bg-color:#ffffff;
}
.page {
  margin: 0;
  background-color: #f5f5f5;
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* container */
.section {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
  
}
.container{
padding: 0 215px;
}
.header{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color:var(--bg-color);
  border-bottom:1px solid #ECECEC;
}
/*logo style*/
.web {
  color: var(--active-color);
  font-family: Raleway;
  font-size: Bold;
  font-size: 26px;
  line-height: 1.2;
  line-height: 100%;
  vertical-align: top;
  letter-spacing: 3%;
  text-decoration: none;
}
.studio {
  color: #000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #000000;
}

.studio-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*utilited for all ul*/
.utilited-ul {
  list-style: none;
}

/*site navigation style*/
.header{
  display: flex;
}
.logo{
  margin-left: 215px;
}
.site-nav{
  display: flex;
}
.link{
  margin-left: 50px;
}

.site-nav .link {
  background-color: tomato;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
}
.site-nav .link:hover,
.site-nav .link:focus {
  
  color: var(--active-color);
}
.site-nav .link:not(last-child){
  margin-right: 0px;
  
}

.site-nav .active-page {
  color: var(--active-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  margin-left: 93px;
}

/*contact-style*/

.contact {

  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;


}
.mail{
  margin-right: 50px;
}
.contact .header:hover,
.contact .header:focus {
  color: var(--active-color);
}
.contact .footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact .footer:hover,
.contact .footer:focus {
  color: var(--active-color);
}

/*Hero*/
.hero {
  background-color: #2f303a;
  padding: 200px auto;
}
.hero .hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-top: 200px;
}

/* section title style */
.section .section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}


/*Button*/
.button {
  display: inline-block;
  color: var(--secondary-text-color);
  background-color: var(--button-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  min-height: 38px;
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;
}

.hero .button-hero {
  display: block;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--active-color);
}

/* Features style */

.features-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

/* Чим ми займаємося */


/* Team style */

.team .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
}
.team .team-text {
  text-align: center;
}
/*Footer  */
.footer {
  background-color: #2f303a;
}

.adress {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Portfolio styles */
.buttons-portfolio .button:hover,
.buttons-portfolio .button:focus {
  color: #ffffff;
  background-color: var(--active-color);
}
.portfolio .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
